@model IEnumerable<SysPatrimonio.Models.DtoPatrimonio>

@{
    ViewData["Title"] = "Index";
}

<div>
<h1>Patrimônios</h1>
    <a asp-action="Create" class="btn btn-success mb-3">+ Criar Novo</a>
</div>


<table class="table table-success table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>
                Número Etiqueta
            </th>
            <th>
                Nome
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor
            </th>
            <th>
                Marca Modelo
            </th>
            <th>
                Data Aquisição
            </th>
            <th>
                Data Baixa
            </th>
            <th>
                Número NF
            </th>
            <th>
                Número Série
            </th>
            <th>
                Situação
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                 <th>
                @Html.DisplayNameFor(model => model.numetiqueta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomepatrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaopatrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorpatrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marcamodelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataaquisicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.databaixa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numnf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numserie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.situacao)
            </th>
        
            <td class="d-flex justify-content-evenly">          
                <a asp-action="Edit" asp-route-id="@item.id" title="Editar"><i class="fa-solid fa-pen-to-square" style="color: gray; font-size: 24px"></i></a>
                <a asp-action="Details" asp-route-id="@item.id" title="Detalhes"><i class="fa-solid fa-file-lines" style="color: green; font-size: 24px"></i></a>
                <a asp-action="Delete" asp-route-id="@item.id" title="Excluir"><i class="fa-solid fa-trash-can" style="color: red; font-size: 24px"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
